.aboutMe
{
    min-height:100vh;
    display: flex;
}

.juju__image 
{
    // margin: auto;
    position: relative;
    width: auto;
    height: auto;
    margin-right: auto;    
    margin-top: 5%;
}
.juju__body
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    font-size: X-large;
    font-weight: 200;
    
}
.juju__title
{
    font-size: 80px;
    color: darkgoldenrod;
    font-weight: 300;
    max-width: 540px;
    line-height: 1;
}

//////////// RESPONSIVE /////////////////


@media only screen and (min-device-width : 220px) and (max-device-width : 600px) {
    *{
        box-sizing: border-box;
    }
    .aboutMe{
        margin: 0;
        min-height: 60vh;
        display: block;
        font-size: small;
        text-align: center;
    } 
    .juju__title{
        font-size: 30px;
    }
    .juju__body{
        font-size: large;
    }
    }