.skills {
  background-color: #163e31c7;
  height: 100vh;
}

.skills__skills{
  font-size:x-large;
  color: darkgoldenrod;
  padding: 50px; 
  
}
.skills_all_blocks{
  display: flex;
  justify-content: space-around;
}
.skills__block
{
  padding: 10px;
  font-size: 1.2rem;
  max-width: 20rem;
  min-width: 380px;
  min-height: auto;
  margin-top: 50px;
  border: 0.8px ridge rgba(22, 108, 49, 0.605);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.skills__block:hover
{
  border-color: darkgoldenrod;
  transition: none;
  .skills__title{
    color: darkgoldenrod;
  }
}
.skills__block img
{
  margin: 20px 0 10px 10px;
  height: 90px;
  width: 80px;
}
.skills__block p{
  font-size: medium;
}
//////////// RESPONSIVE /////////////////


@media only screen and (min-device-width : 220px) and (max-device-width : 480px) {
  .skills_all_blocks{
    display: block;
  }
  .skills__block{
    min-width: 250px;
    margin: auto;
  }
  .skills{
    height: auto;
    padding-bottom: 10px;
  }

  }