            {{ encore_entry_link_tags('aboutMe') }}
<section class="aboutMe ">
    <div class="juju__body reveal-">
        <div class="juju__hello reveal-2">
            Bonjour, je suis
        </div>
        <div class="juju__title reveal-3" >Julien Cristovao</div>
        <div class="juju__job reveal-4">Développeur Web PHP/Symfony</div>
    </div>
    <div class="juju__image reveal-">
        <img src="{{asset ('build/Julien_tof.png')}}" alt="photo_julien" class='reveal-4'>
    </div>
</section>


