            {{ encore_entry_link_tags('footer') }}

<section class="footer">
        <div class="footer_content m-auto">
            <p class="m-auto">2023 - Tous droits réservés - Réalisé par Julien Cristovao à Bry sur marne - Val de marne</p>
        </div>
</section>